################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitecture/.vs/

[Oo]bj/
[Bb]in/